<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EMSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.mambak.web.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.mambak.web.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeSelectServlet</display-name>
    <servlet-name>GradeSelectServlet</servlet-name>
    <servlet-class>com.mambak.web.GradeSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeSelectServlet</servlet-name>
    <url-pattern>/gradeSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminQueryServlet</display-name>
    <servlet-name>AdminQueryServlet</servlet-name>
    <servlet-class>com.mambak.web.AdminQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQueryServlet</servlet-name>
    <url-pattern>/adminQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateStudentUIServlet</display-name>
    <servlet-name>AdminUpdateStudentUIServlet</servlet-name>
    <servlet-class>com.mambak.web.AdminUpdateStudentUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateStudentUIServlet</servlet-name>
    <url-pattern>/adminUpdateStudentUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.mambak.web.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/updateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllStudentListServlet</display-name>
    <servlet-name>AllStudentListServlet</servlet-name>
    <servlet-class>com.mambak.web.AllStudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllStudentListServlet</servlet-name>
    <url-pattern>/allStudentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelStudentServlet</display-name>
    <servlet-name>AdminDelStudentServlet</servlet-name>
    <servlet-class>com.mambak.web.AdminDelStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelStudentServlet</servlet-name>
    <url-pattern>/adminDelStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelAllStudentServlet</display-name>
    <servlet-name>AdminDelAllStudentServlet</servlet-name>
    <servlet-class>com.mambak.web.AdminDelAllStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelAllStudentServlet</servlet-name>
    <url-pattern>/adminDelAllStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminStudentServlet</display-name>
    <servlet-name>AdminStudentServlet</servlet-name>
    <servlet-class>com.mambak.web.servlet.AdminStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminStudentServlet</servlet-name>
    <url-pattern>/adminStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.mambak.web.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminTeacherServlet</display-name>
    <servlet-name>AdminTeacherServlet</servlet-name>
    <servlet-class>com.mambak.web.servlet.AdminTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTeacherServlet</servlet-name>
    <url-pattern>/adminTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectListServlet</display-name>
    <servlet-name>SelectListServlet</servlet-name>
    <servlet-class>com.mambak.web.servlet.SelectListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectListServlet</servlet-name>
    <url-pattern>/selectListServlet</url-pattern>
  </servlet-mapping>
</web-app>